node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
keystore.txt
screens/Home.js
components/*

# macOS
.DS_Store
screens/Home.js
screens/Notifications.js
